@{
    ViewData["Title"] = "Product Dashboard";
}

<div class="row justify-content-center ">
    <a asp-action="Create" class="shadow-sm border row col-md-8 p-0 mb-3">
        <div class="col-lg-9 pt-3">
            <h3>Add products for supplier</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div> 
        <div class="col-lg-3 text-center pt-3 pt-xl-0 p-0 ">
            <img class="img-fluid w-75 pt-0 pt-md-2" src="https://www.nureva.com/hubfs/images/pages/sales/01083-resellers/01083-resellers-icon-product-501x401.png" />
        </div> 
    </a>
    <a asp-action="Orders" class="shadow-sm border row overflow-hidden col-md-8 p-0 mb-3">
        <div class="col-lg-9 pt-3">
            <h3>See products for certain customer and order</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div> 
        <div class="col-lg-3 text-center pt-3 pt-xl-0 p-0" >
            <img style="margin-bottom: -100px;" class="img-fluid" src="https://static.vecteezy.com/system/resources/previews/003/837/160/original/customer-order-blue-concept-icon-online-shopping-app-idea-thin-line-illustration-choosing-product-in-internet-store-digital-marketing-isolated-outline-drawing-editable-stroke-vector.jpg" />
        </div> 
    </a>
    <a asp-action="Count" class="shadow-sm border row col-md-8 p-0 mb-3">
        <div class="col-lg-9 pt-3">
            <h3>Number of products grouped by orders and suppliers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div> 
        <div class="col-lg-3 text-center pt-4 pt-xl-0 p-0">
            <img class="img-fluid" src="https://cdn.dribbble.com/users/579758/screenshots/7605020/media/933ba1db896a20796e49f704fdfc1633.jpg?compress=1&resize=400x300" />
        </div> 
    </a>
</div>
